%table.table
  %thead
    %tr
      %th{:scope => "col"}= Project.human_attribute_name(:name)
      %th{:scope => "col"}= Project.human_attribute_name(:owner)
      %th{:scope => "col"} Actions
  %tbody
    - @projects.each do |p|
      %tr
        %td= link_to p.name, project_path(p)
        %td= p.owner.email
        %td
          = link_to 'Edit', edit_project_path(p)
          ||
          = link_to 'delete', project_path(p), method: :delete, data: {confirm: 'sure?'}
= link_to 'New', new_project_path, class: 'btn'
